
bin/
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
freecam.properties

res/.nomedia
out/artifacts/FreeCam/*
out/production/FreeDCam/com/
out/production/FreeDCam/classes.dex
out/production/FreeDCam/FreeDCam.afp.apk
out/production/FreeDCam/FreeDCam.apk.res
out/production/FreeDCam/FreeDCam.unaligned.apk
out/res-cache/FreeDCam/drawable*
out/production/FreeDCam/FreeDCam.unsigned.apk
out/production/FreeDCam/FreeDCam.apk.res.release
out/
obj/
.idea/
out/
