.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/libs/armeabi-v7a/libRawToDng.so
app/libs/armeabi-v7a/libYuvMerge.so
app/libs/armeabi/libRawToDng.so
app/libs/armeabi/libYuvMerge.so
androiddng/libs/
app/build/
imageviewer/libs/armeabi*
.idea
*.iml
imageconverter/libs/armeabi/libimageconverter.so
imageconverter/libs/armeabi-v7a/libimageconverter.so
imageconverter/libs/armeabi/*
imageconverter/libs/armeabi-v7a/*
*/libs/armeabi*
app/manifest-merger-release-report.txt
.gitignore
*/build/*
app/libs/arm64-v8a/libfreedcam.so
app/.externalNativeBuild/*
.svn/*
app/build.gradle
*.apk
app/release
