<manifest package="troop.com.themesample" xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
    <activity
        android:name="troop.com.themesample.subfragments.VideoProfileEditorActivity"
        android:label="VideoProfileEditor">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
    </activity>
    </application>
</manifest>
