<manifest package="troop.com.views" xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="troop.com.views.ViewTestActivity"
            android:label="viewtest"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>



        </activity>
    </application>

</manifest>
