<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.troop.freedcam"
    android:installLocation="auto">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.HW_CAMCFG_SERVICE" />
    <uses-permission android:name="com.huawei.camera.permission.PRIVATE" />
    <uses-permission android:name="huawei.android.permission.HW_SIGNATURE_OR_SYSTEM" />

    <uses-permission android:name="com.sonyericsson.permission.CAMERA_EXTENDED" />
    <!-- only for system apps
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" /> -->



    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.compass" android:required="false"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_freedcam"
        android:label="FreeDCam"
        android:supportsRtl="false"
        android:theme="@style/FullscreenTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:extractNativeLibs="false">

        <activity
            android:name="freed.cam.ActivityFreeDcamMain"
            android:label="FreeDCam"
            android:icon="@drawable/launcher_freedcam"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|touchscreen|layoutDirection"
            android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="freed.cam.ActivityFreeDcamMainSecure"
            android:label="FreeDCam"
            android:icon="@drawable/launcher_freedcam"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|touchscreen|layoutDirection"
            android:screenOrientation="landscape"
            android:clearTaskOnLaunch="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="freed.cam.ActivityFreeDcamShare"
            android:label="FreeDCam"
            android:screenOrientation="landscape"
            android:icon="@drawable/launcher_freedcam"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="freed.viewer.ActivityFreeDviewer"
            android:label="FreeDCam Viewer"
            android:taskAffinity="com.freedviewer.GridViewActivity"
            android:icon="@drawable/launcher_imageviewer"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|touchscreen|layoutDirection">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.freedviewer.GridViewActivity" />
            </intent-filter>
        </activity>

        <activity
            android:name="freed.viewer.dngconvert.DngConvertingActivity"
            android:label="GridView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="freed.viewer.stack.StackActivity"
            android:label="GridView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="freed.viewer.stack.DngStackActivity"
            android:label="GridView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="freed.cam.ui.videoprofileeditor.VideoProfileEditorActivity"
            android:label="GridView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>
</manifest>
